<div id="<%= dom_id friend %>">

  <tr>
    <td><%= friend.first_name %></td> 
    <td><%= friend.last_name %></td> <br>
    <td><%= friend.email %></td> <br>
    <td><%= friend.phone %></td> <br>
    <td><%= friend.twitter %></td><br>
    <td><%= friend.user_id %></td> <br>
  </tr>

</div>
